a:visited {
    color: white;
}

a {
    color: white;
}

.contentBox {
    text-align: center;
    width: 70vw;
    margin: auto;
}

.content {
    text-align: center;
    align-content: center;
    display: flex;
}

.content a {
    flex-grow: 1;
    font-size: large;
    text-decoration: none;
    background-color: #4964c4;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 100px;
    transition: 0.15s ease;
    width: 1px;
    padding: 10px;
}

.content a:hover {
    background-color: #2e3e77;
}