#controller {
    z-index: 10;
    position: fixed;
    float: right;
    bottom: 20px;
    right: 20px;
    line-height: 0px;
}

.largeButton {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}

.smallButton {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

.controlpanel {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 0px;
    position: relative;
}

.view {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
    line-height: 0px;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    margin: 0px;
    top: 0px;
    left: 0px;
}

#mousePos {
    z-index: inherit;
    height: fit-content;
    width: fit-content;
    min-width: 60px;
    background-color: rgba(255, 255, 255, 0.8);
}

#mousePos p {
    margin: 5px;
    color: black;
}

#mapView {
    z-index: 0;
    background-color: black;
}

#eventView {
    z-index: 1;
}

#playerView {
    z-index: 2;
}

.player {
    z-index: inherit;
    position: absolute;
    image-rendering: pixelated;
    width: 24px;
    height: 24px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    transition: 0.25s ease;
    cursor: pointer;
}

.player:hover {
    transform: scale(1.5);
}

.event {
    z-index: inherit;
    position: absolute;
    image-rendering: pixelated;
    width: 24px;
    height: 24px;
    transition: 0.25s ease;
}

.event:hover {
    transform: scale(1.5);
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
    margin: 0px;
}
