#controller {
    z-index: 10;
    position: fixed;
    float: right;
    bottom: 20px;
    right: 20px;
    line-height: 0px;
}

.largeButton {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}

.smallButton {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

.controlpanel {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 0px;
    position: relative;
}

.view {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
    line-height: 0px;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    margin: 0px;
}

#mapView {
    z-index: 0;
    background-color: black;
}

#eventView {
    z-index: 1;
}

#playerView {
    z-index: 2;
}

.player {
    position: absolute;
    image-rendering: pixelated;
    width: 24px;
    height: 24px;
}

.event {
    position: absolute;
    image-rendering: pixelated;
    width: 24px;
    height: 24px;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
    margin: 0px;
}
