h1 {
    text-align: center;
}

.side {
    display: flex;
    position: absolute;
    height: 100%;
    z-index: 30;
}

.sideBar {
    flex: 1;
    z-index: inherit;
    top: 0px;
    left: 0px;
    height: 100%;
    min-width: 80px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #ffa580;
    text-align: center;
}

.sideBar a {
    padding: 10px;
    display: block;
}

.sideBar input {
    width: 100%;
    display: block;
}